<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="A Virtual Camera, support Android 10+ " />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>